*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	width: 100%;
	margin: 0 auto;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

ul[class],
ol[class] {
	list-style: none;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	color: $primary-dark;
}

img {
	max-width: 100%;
	display: block;
}
