/**
  * important: This is a core styles and it should never change.
  */

$white: #fff;
$black: #333;
$black-100: #000;

// GREY -------------------------------------------------------
$grey-lighter: #f2f2f2;
$grey-light: #d4d4d4;
$grey: #999999;
$grey-dark: #686868;
$grey-darker: #474747;

// PRIMARY -----------------------------------------------------
$primary-light: #f8f1b2;
$primary: #fd0;
$primary-dark: #d39b00;

// ERROR -------------------------------------------------------
$error-light: #fcbdbf;
$error: #EF1805;
$error-dark: #810c12;
